#!/usr/bin/env bash
WORKSPACE=$(CDPATH="cd -- $(dirname -- "$0")" && pwd -P)
export WORKSPACE

layout pipenv

if [ -f "$WORKSPACE/src/requirements.yml" ]; then
    ansible-galaxy install -r "$WORKSPACE/src/requirements.yml"
fi

{% if cookiecutter.ansible_inventory -%}
ANSIBLE_INVENTORY="$WORKSPACE/src/{{ cookiecutter.ansible_inventory }}"
export ANSIBLE_INVENTORY
{%- endif %}

{% if cookiecutter.ansible_roles_path -%}
ANSIBLE_ROLES_PATH="$WORKSPACE/src/{{ cookiecutter.ansible_roles_path }}"
export ANSIBLE_ROLES_PATH
{%- endif %}
